boto==2.48.0
boto3==1.6.6
botocore==1.9.6
bz2file==0.98
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
docutils==0.14
gensim==3.4.0
h5py==2.7.1
hickle==2.0.5
idna==2.6
ipdb==0.11
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
jmespath==0.9.3
kiwisolver==1.0.1
matplotlib==2.2.2
nltk==3.2.5
numpy==1.14.1
olefile==0.45.1
pandas==0.22.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
regex==2018.2.21
requests==2.18.4
s3transfer==0.1.13
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
Theano==1.0.1
torch==0.3.1.post2
torchtext==0.2.1
torchvision==0.2.0
tqdm==4.19.8
traitlets==4.3.2
urllib3==1.24.2
wcwidth==0.1.7
